In [12]:
import numpy as np
import random

questions = np.linspace(1, 300,300)

#choose 30 random questions
random_questions = random.sample(list(questions), 30)
random_questions.sort()
random_questions = [int(q) for q in random_questions]
print("Randomly selected questions:", random_questions)

Randomly selected questions: [3, 24, 33, 48, 50, 55, 70, 80, 88, 113, 117, 124, 126, 167, 169, 178, 193, 203, 207, 233, 242, 258, 267, 268, 269, 270, 283, 286, 294, 299]

In [13]:
import pandas as pd
list_to_df = random_questions
pd.DataFrame(list_to_df, columns=['question_number'])

    question_number
0                 3
1                24
2                33
3                48
4                50
5                55
6                70
7                80
8                88
9               113
10              117
11              124
12              126
13              167
14              169
15              178
16              193
17              203
18              207
19              233
20              242
21              258
22              267
23              268
24              269
25              270
26              283
27              286
28              294
29              299